---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Manual de Astro";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="3xl mx-auto p-6 md:p-12">
    
    <div class="bg-slate-800 rounded-2xl p-8 border border-slate-700 shadow-2xl space-y-8">
      
      <div class="text-center space-y-2">
        <h1 class="text-4xl font-extrabold text-white ">{pageTitle}</h1>
        <p class="text-slate-400 text-base">Todo sobre Astro</p>
      </div>

      <div class= mx-auto">
        <ul class="flex flex-col gap-4 ">
          
          <li class="w-full">
            <a 
              href="/Manual-Astro/posts/post-1/" 
              class="block text-center text-lg font-bold px-6 py-4 rounded-xl text-slate-200 bg-slate-900 border border-slate-700 hover:text-white hover:bg-slate-700 hover:scale-[1.01] transition-all duration-200 shadow-md"
            >
             Requisitos Previos e Instalación
            </a>
          </li>



          <li class="w-full">
            <a 
              href="/Manual-Astro/posts/post-2/" 
              class="block text-center text-lg font-bold px-6 py-4 rounded-xl text-slate-200 bg-slate-900 border border-slate-700 hover:text-white hover:bg-slate-700 hover:scale-[1.01] transition-all duration-200 shadow-md"
            >
             Mi segunda publicación
            </a>
          </li>

          <li class="w-full">
            <a 
              href="/Manual-Astro/posts/post-3/" 
              class="block text-center text-lg font-bold px-6 py-4 rounded-xl text-slate-200 bg-slate-900 border border-slate-700 hover:text-white hover:bg-slate-700 hover:scale-[1.01] transition-all duration-200 shadow-md"
            >
             Mi tercera publicación
            </a>
          </li>

        </ul>
      </div>

    </div>
  </div>
</BaseLayout>