---
import Social from "./Social.astro";
---

<footer class="w-full flex justify-center items-center py-8 mt-auto">
  <div class="flex gap-4 justify-center items-center ">
    <Social platform="github" username="AlejandraTB" />
    <Social platform="youtube" username="midulive" />
    <Social platform="facebook" username="Paula Tabares" />
  </div>
</footer>