---

---

<style>
  a {
    font-size: 1.3rem;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline solid;
  }
  .container {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
  }
</style>

<div class="container">
  <a href="/">Inicio</a>
  <a href="/about/">Sobre mi</a>
  <a href="/blog/">Blog</a>
</div>