---

---

<style>
  a {
    font-size: 1.3rem;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline solid;
  }
  .container {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
  }
</style>

<div class=" container">
  <a href="/Manual-Astro/">Inicio</a>
  <a href="/Manual-Astro/blog">Manual</a>
  <a href="/Manual-Astro/about">Creadora</a>
</div>