---
const { platform, username } = Astro.props;
---

<a 
  href={`https://www.${platform}.com/${username}`}
  target="_blank"
  class="px-5 py-2 text-sm rounded-xl text-slate-300 bg-slate-900 border border-slate-700 hover:text-white hover:bg-slate-800 transition-all duration-200 shadow-md inline-block text-center"
>
  {platform}
</a>