---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
// import '../styles/global.css'

const {pageTitle} = Astro.props
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style is:global>
      @import "../styles/global.css"
    </style>
  </head>
  <body class="bg-[#0f172a] text-slate-200 min-h-screen m-0 p-0 flex flex-col justify-between">
    <div>
      <Navigation />
      <slot />
    </div>
    <Footer />
  </body>
</html>